body,p,ul,h1,h2,h3,h4,h5,h6,input{
    padding: 0;
    margin: 0;
    font-family: arial;
}
ul,li{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #522a5c;
    color: #fff;
}

header nav {
    width: 980px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

header nav p {
    position: absolute;
    font-size: 20px; 
    left: 0;
    bottom: 5px;
}

header nav ul{
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: 0;
}

header nav ul li {
    display: inline-block;
    font-family: "宋体";
    font-size: 14px;
    margin-left: 28px;
}

footer {
    background-color: #000;
    color: #fff;
    font-size: 12px;
}

footer nav {
    text-align: center;
    border-bottom: 1px solid #333333;
}

footer nav ul li {
    display: inline-block;
    line-height: 35px;
    margin-right: 25px;
}

footer .links {
    height: 250px;
    padding-top: 43px;
}

footer .links ul {
    width: 176px;
    margin-right: 20px;
    float: left;
}

footer .links a:hover {
    text-decoration: underline;
}

footer .links h4 {
    font-size: 12px;
    margin-bottom: 30px;
}

footer .links li {
    font-size: 8px;
    line-height: 18px;
}

footer .copyright {
    font-size: 11px;
    text-align: center;
    line-height: 100%;
}

footer .copyright p {
    margin-bottom: 20px;
}

.github-icon {
    position: absolute;
    right: 10px;
    bottom: 0;
    background: url(../img/icon-github.png);
    background-size: 30px 34px;
    width: 30px;
    height: 34px;
}

.banner{
    background: url(../img/banner-bg.jpg) no-repeat center top;
    background-size: auto 100%;
    min-width: 980px;
    /*padding-top: 53.77551020408163%;*/
    height: 527px;
    color: #fff;
    position: relative;
}

.container {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

.banner .container {
    position: relative;
    height: 527px;
}
.banner .text {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 360px;
    padding: 10px 10px 30px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(rgba(256,256,256,0.3)), to(rgba(256,256,256,0)), color-stop(0.75, rgba(256,256,256,0.2)));
}

.banner .text h3 {
    font-size: 14px;
    margin-bottom: 12px;
    text-align: right;
}

.banner .text p {
    font-size: 12px;
    line-height: 150%;
    text-indent: 24px;
}

.show {
    background-color: #eeeeee;
    padding-top: 10px;
    height: 480px;
}
.show .container ul{
    background-color: #fff;
    width: 320px;
    height: 355px;
    float: left;
}

.showpic {
    width: 300px;
    height: 180px;
    margin: 10px 10px 15px;
}

.pic1 {
    background: url(../img/main1.jpg) no-repeat;
    background-size: 300px 180px;
}

.pic2 {
    background: url(../img/main2.jpg) no-repeat;
    background-size: 300px 180px;
}

.pic3 {
    background: url(../img/main3.jpg) no-repeat;
    background-size: 300px 180px;
}

.addmargin {
    margin-left: 10px;
    margin-right: 10px;
}

.showtext {
    padding: 0 30px 25px;
    font-size: 12px;
    line-height: 170%;
    text-indent: 24px;
}

.intro {
    position: relative;
    background-color: #fff;
    height: 520px;
    color: #000;
}

.head {
    position: absolute;
    left: 50%;
    margin-left: -80px;
    top: -50px;
    background: url(../img/head.jpg);
    background-size: 160px 160px;
    height: 160px;
    width: 160px;
    border-radius: 80px;
}

.intro h2 {
    font-family: Century Gothic;
    font-size: 20px;
    padding-top: 170px;
    padding-bottom: 40px;
    text-align: center;
}

.intro p {
    width: 600px;
    margin: 0 auto;
    font-size: 14px;
    text-indent: 28px;
}

/*blog page*/

.blog-content {
    overflow: hidden;
    background-color: #eeeeee;
}

.blog-main {
    float: left;
    width: 710px;
    margin-right: 10px;
    margin-top: 10px;
}

.blog-main section {
    position: relative;
    background-color: #fff;
    padding: 12px 22px 16px; 
    margin-top: 10px;
}

.blog-main section h3 {
    color: #a660b7;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

.blog-main section h4 {
    color: #666;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 8px;
}

.blog-main section p {
    color: #000;
    font-size: 12px;
    line-height: 20px;
    text-indent: 24px;
}
.blog-main section h5 {
    margin-top: 28px;
    color: #999999;
    font-size: 12px;
    text-align: right;
}

.blog-tag {
    position: absolute;
    left: -50px;
    top: 20px;
    width: 50px;
}

.blog-tag .tag {
    background-color: #522a5c;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 10px;
    text-align: center;
}

.blog-tag .tag1 {
    background-color: #522a5c;
}

.blog-tag .tag2 {
    background-color: #a660b7;
}

.blog-main ul {
    color: #000;
    font-size: 12px;
    line-height: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
    padding-left: 66px;
    overflow: hidden;
}

.blog-main ul li {
    padding: 12px 18px 11px;
    margin: 0 5px;
    background-color: #fff;
    float: left;
}

.blog-main ul li: hover {

}

.page .crtpage {
    color: #fff;
    background-color: #a660b7;
}

.blog-sider {
    float: right;
    width: 260px;
    margin-top: 20px;
}

.blog-sider .search {
    padding: 19px;
    background-color: #fff;
}

.blog-sider .search input {
    height: 40px;
    width: 129px;
    border: 1px solid #ddd; 
    padding-left: 40px;
    background: url(../img/searchicon.png) no-repeat 0 0;
    color: #999; 
}

.blog-sider .search .btngo {
    float: right;
    background-color: #ddd;
    width: 51px;
    height: 42px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 42px;
}

.blog-sider .category {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    background: #fff;
}

.blog-sider .category ul li {
    height: 49px;
    border-bottom: 1px solid #ddd;
    border-left: 4px solid #dfc6e6;
    padding-left: 18px;
    line-height: 49px;
    font-size: 9px;
    color: #666;
}

.blog-sider .category ul li:hover {
    border-left: 4px solid #522a5c;
}

.blog-sider .calendar {
    padding: 24px 19px 26px 20px;
    font-size: 9px;
    background-color: #fff;
    margin-top: 10px;
    overflow: hidden;
}

.blog-sider .cal-header {
    overflow: hidden;
}

.blog-sider .cal-header p {
    float: left;
    padding-left: 13px;
    padding-right: 16px; 
}

.blog-sider .cal-header h6 {
    float: left;
    width: 147px;
    text-align: center;
}

.blog-sider .calendar li {
    border-bottom: 1px solid #eee;
    color: #999;
    padding-top: 5px;
    padding-bottom: 8px;
    overflow: hidden;
}
.blog-sider .calendar .hlday {
    background-color: #773c88;
    color: #fff;
}

.blog-sider .calendar ul li p {
    float: left;
    line-height: 20px;
    width: 31px;
    text-align: center;
}

.blog-sider .tags {
    margin-top: 10px;
    background-color: #fff;
    padding: 13px 20px 33px 16px; 
    color: #773c88;
    line-height: 38px;
}

.blog-sider .tags h6 {
    color: #666;
    line-height: 100%;
    margin-bottom: 22px;
    font-weight: 400;
}

.blog-sider .tags-content {
    overflow: hidden;
}

.blog-sider .tags-content h2 {
    float: left;
    font-size: 23px;
    height: 38px;
    margin-right: 12px;
}

.blog-sider .tags-content h3 {
    float: left;
    font-size: 16px;
    height: 38px;
    margin-right: 12px;
}

.blog-sider .tags-content h4 {
    float: left;
    font-size: 14px;
    height: 38px;
    margin-right: 12px;
    font-weight: 400;
}

.blog-sider .tags-content h5 {
    float: left;
    font-size: 9px;
    height: 38px;
    margin-right: 8px;
    font-weight: 400;
}

/*gallary page*/
.gallary-content {
    overflow: hidden;
    background-color: #eeeeee;
    padding-top: 20px;
    padding-bottom: 100px;
}

.gallary-main {
    float: left;
    width: 710px;
    margin-right: 10px;
    overflow: hidden; 
}

.gallary-header li {
    float: left;
    border-top: 4px solid #dfc6e6;
    border-left: 1px solid #eee;
    padding: 15px 20px 20px;
    font-size: 10px;
    line-height: 100%;
    background-color: #fff;
}

.gallary-header li:hover {
    border-bottom: 1px solid #eee;
}

.gallary-header .gtabs2 {
    border-top: 4px solid #522a5c;
}

.gallary-header .gtabs3 {
    border-top: 4px solid #5900b2;
}

.gallary-header .gtabs4 {
    border-top: 4px solid #8c2300;
}

.gallary-header .gtabs5 {
    border-top: 4px solid #d9a300;
}

.gtabs-content {
    background-color: #fff;
    padding: 14px 15px 26px;
    overflow: hidden;
    clear: both;
}

.gtabs-content .column-w {
    float: left;
    width: 340px;
}

.gtabs-content .column-w-w li:first-child{
    width: 330px;
    height: 150px;
}


.gtabs-content .column-w-w img {
    width: 330px;
    height: 150px;
}

.gtabs-content .column-n {
    float: left;
    width: 170px;
}

.gtabs-content .column-n ul, .gtabs-content .column-w ul {
    position: relative;
    float: left;
    margin: 5px 5px 10px;
}

.gtabs-content .column-n ul li:first-child {
    width: 160px;
    height: 100px;
}

.gtabs-content .column-n img {
    width: 160px;
    height: 100px;
}

.column-n .img-detail-n {
    padding: 12px 10px;
    background-color: #522a5c;
    color: #fff;
    width: 140px;
}

.gtabs-content .img-detail-n h2 {
    border: 1px solid #ccccca;
    border-radius: 12px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    float: left;
    text-align: center;
    font-size: 10px;
    margin-right: 13px;
}

.gtabs-content .img-detail-n h4 {
    font-size: 14px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gtabs-content .img-detail-n p {
    font-size: 12px;
    padding-left: 40px;
    line-height: 22px;
}

.gtabs-content .img-detail-w {
    padding: 12px 10px;
    background-color: #522a5c;
    color: #fff;
    width: 310px;
}

.gtabs-content .img-detail-w h2 {
    border: 1px solid #ccccca;
    border-radius: 12px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    float: left;
    text-align: center;
    font-size: 10px;
    margin-right: 13px;
}

.gtabs-content .img-detail-w h4 {
    font-size: 14px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gtabs-content .img-detail-w p {
    font-size: 12px;
    padding-left: 40px;
    line-height: 22px;
}

.gallary-main .more {
    background-color: #fff;
    color: #666;
    margin-top: 10px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    clear: both;
    font-size: 12px;
}

.gallary-main .more p {
    display: inline-block;
    padding-left: 31px;
    background: url(../img/more.png) no-repeat;
    background-position: 0 19px ;
}

.gallary-main .more p a {
     color: #000;
}







.gallary-sider {
    float: right;
    width: 260px;
}

.gallary-sider .search {
    padding: 19px;
    background-color: #fff;
}

.gallary-sider .search input {
    height: 40px;
    width: 129px;
    border: 1px solid #343434; 
    padding-left: 40px;
    background: url(../img/searchicon.png) no-repeat 0 0;
    color: #333; 
}

.gallary-sider .search .btngo {
    float: right;
    background-color: #999;
    border: 1px solid #343434;
    border-left: 0px; 
    width: 50px;
    height: 40px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 42px;
}

.gallary-sider .rank {
    margin-top: 10px;
    padding: 20px 13px 36px; 
    background-color: #fff;
    color: #fff;
}

.gallary-sider .rank h4 {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}


.gallary-sider .rank ul {
    overflow: hidden;
    margin-bottom: 12px;
}

.gallary-sider .rank ul li {
    float: left;
}

.gallary-sider .rank ul li:first-child{
    background-color: #522a5c;
    background-size: 16px 16px;
    border-radius: 8px;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 9px;
    line-height: 16px;
    margin-right: 13px;
    margin-top: 1px;
}

.gallary-sider .rank .top {
    position: relative;
    float: left;
    width: 100px;
    height: 16px;
    border: 1px solid #522a5c;
    background-color: #f6f6f6;
    margin-right: 11px;
}

.gallary-sider .rank .top p {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #522a5c;
    height: 16px;
}

.gallary-sider .rank .top1 p {
    width: 100%;
}

.gallary-sider .rank .top2 p {
    width: 85%;
}

.gallary-sider .rank .top3 p {
    width: 70%;
}

.gallary-sider .rank .top4 p {
    width: 40%;
}

.gallary-sider .rank .top5 p {
    width: 30%;
}

.gallary-sider .rank ul li span {
    color: #000;
    font-size: 10px;
}

/*about page*/
.about-content {
    position: relative;
    overflow: hidden;
    background-color: #eeeeee;
}

.timeline { 
    margin-top: 100px;
    margin-bottom: 25px;
    background-color: #fff;
}

.timeline:before { 
  content: ''; 
  position: absolute; 
  top: 0; 
  left: 50%; 
  margin-left: -2px;
  height: 100%; 
  width: 4px; 
  background: #eee; 
} 

.timeline ul {
    position: relative;
    padding-top: 130px;
    padding-bottom: 50px;
}

.timeline-header {
    position: absolute;
    height: 160px;
    width: 160px;
    left: 50%;
    margin-left: -90px;
    top: -60px;
    background: url(../img/head.jpg) no-repeat;
    background-size: 160px 160px;
    border: 10px solid #eee;
    border-radius: 90px;
}

.timeline ul li:last-child {
    font-size: 14px;
    width: 307px;
    text-indent: 28px;
    margin-left: 531px;
}

.timeline h3 {
    position: absolute;
    font-size: 20px;
    right: 562px;.timeline ul
}

.timeline h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: inline;
}

.timeline .name p, .timeline .contact p{
    font-size: 14px;
    line-height: 24px;
}


.timeline .group {
    margin-left: -103px;
}

.timeline span{
    display: inline-block;
    line-height: 23px;
    width: 59px;
    color: #666;
    border: 5px solid #eee;
    border-radius: 9px;
    margin-right: 26px;
    font-size: 9px;
    text-align: center;
    background-color: #fff;
    text-indent: 0;
}

.timeline .edu p, .timeline .intern p{
    padding-left: 99px;
    font-size: 12px;
    line-height: 22px;
}

.about-content .timeline-main {
    position: absolute;
    height: 112px;
    width: 112px;
    left: 50%;
    margin-left: -59px;
    top: -25px;
    border: 6px solid #eee;
    border-radius: 59px;
}

.about-content .contact .timeline-main  {
    background: url(../img/contact.png) no-repeat;
    background-size: 112px 112px; 
}

.about-content .edu .timeline-main{
    background: url(../img/edu.png) no-repeat;
    background-size: 112px 112px; 
}

.about-content .intern .timeline-main{
    background: url(../img/intern.png) no-repeat;
    background-size: 112px 112px; 
}

@media (max-width: 980px){
    header .github-icon {
        display: none;
    }
}